
.border-white {
    border: 2px solid white;
}
.pink-father {
    background-color: rgb(250, 218, 208);
    display: flex;
    /* flex: 0 1 100%; */
    height: 300px;

}
.direction-row {
    display: flex;
    flex-direction: row;
    
}
.direction-column {
    display: flex;
    flex-direction: column;
}
.children-one {
    height:33.3%;
    /* background-color: turquoise; */
    display: flex;
    
}
.children-two {
    /* background-color: violet; */
    height:33.3%;
    display: flex;
   
    
}
.two-4 {
   flex: 4 4 auto;
   /* background-color: rgb(40, 22, 204); */
   display: flex;
   
  
}
.two-11 {
    flex: 11 11 auto;
    /* background-color: yellowgreen; */
    display: flex;
    
   
}
.two-9 {
    flex: 9 9 auto;
    /* background-color: yellow; */
    display: flex;
    
  
}
.children-three {
    width: auto;
    height:33.3%;
    /* background-color: tomato; */
    display: flex;
}
.three-5 {
    flex: 5 5 auto;
    /* background-color: rgb(145, 46, 226); */
    
    
}
.three-19 {
    flex: 19 19 auto;
    /* background-color: yellow; */
    
    
}
.blue-father {
    background-color: rgb(154, 186, 250);
    display: flex;
    height: 500px;
}
.blue-one {
    /* background-color: blue; */
    display: flex;
    flex: 5 5 auto;
}
.one-3 {
    display: flex;
    flex: 3 3 auto;
    /* background-color: bisque; */
    

}
.one-4 {
    display: flex;
    flex: 4 4 auto;
   /*  background-color: rgb(119, 73, 17); */
   
}
.two-3 {
    display: flex;
    flex: 3 3 auto;
    /* background-color: rgb(51, 32, 10); */


}
.two-6 {
    display: flex;
    flex: 6 6 auto;
    /* background-color: rgb(73, 11, 88); */

}
.two-5 {
    display: flex;
    flex: 5 5 auto;
    /* background-color: rgb(211, 34, 42); */

}
.blue-two {
    /* background-color: blueviolet; */
    display: flex;
    flex: 13 13 auto;

}
.blue-three {
   /*  background-color: burlywood; */
    display: flex;
    flex: 6 6 auto;
}